.top-bar.pt-10.pb-10.background-white.d-md-block
            .container
              .row
                .col-12.text-right
                  .user-account.font-small
                    a.dropdown-toggle#userMenu(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                      span  Logged in Account
                    #userMenuDropdow.dropdown-menu.dropdown-menu-right(aria-labelledby="userMenu")
                      a.dropdown-item(href="#")
                        | Edit Profile
                      .dropdown-divider
                      a.dropdown-item(href="login.html")
                        | Logout