header.header-style-1
  - var auth = false 
  if auth 
    include _auth
  else 
    a.pull-right.mr-20.pt-2(href="#") Sign in

  .header-bottom.header-sticky.background-light.text-center.shadow-lg
    script var aga={title:'dsfjhgsdfjhgsdf',dsf:'asdfsdf'}
    .mobile_menu.d-lg-none.d-block
    .container
      .row
        .col
          .buttons
            button.btn.btn-danger.ml-30(type="button", data-toggle="modal", data-target="#modal") Create post
            .modal.fade#modal(tabindex="-1")
              .modal-dialog.modal-lg.zindex-modal
                .modal-content(wind)
                  .modal-header
                    h5.modal-title Create post
                  form(action="http://localhost:5000/posts/withoutImage", method="POST")
                    .modal-body
                      .mb-3
                        label.form-label.text-center(for="FormControlTitle") Title
                        input.form-control#FormControlTitle(type="text", placeholder="title post",value='you win', name="title")
                      .mb-3
                        label.form-label(for="FormControlTextarea") Text post
                        textarea.form-control#FormControlTextarea(rows="8", name="content")
                      //- .input-group.mb-3
                      //-   label.input-group-text(for="inputGroupFile01") Upload picture
                      //-   input.form-control#inputGroupFile01(type="file")
                    button.close.pb-45(type="submit", data-dismiss="modal")
                      span Save and close
                    script. 
                        console.log(aga.title)
                        aga.title=document.getElementById('FormControlTitle').value
                        console.log(aga.title)
        .col
          .main-nav.text-center.d-lg-block
            button.btn.btn-danger.dropdown-toggle.ml-30(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Filter
            .dropdown-menu
              a.dropdown-item(href="#") My posts
              a.dropdown-item(href="#") All posts

