doctype html
html(lang='ru')
    head
        include _head
        include _scripts
        block head
    body
        header.main-header.header-style-1
          .top-bar.pt-10.pb-10.background-white.d-none.d-md-block
            .container
              .row
                .col-12.text-right
                  .vline-space.d-inline-block
                  .user-account.d-inline-block.font-small
                    a.dropdown-toggle#userMenu(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                      i.ti-user
                      span Account
                    #userMenuDropdow.dropdown-menu.dropdown-menu-right(aria-labelledby="userMenu")
                      a.dropdown-item(href="#")
                        i.ti-pencil-alt
                        | Edit Profile
                      .dropdown-divider
                      a.dropdown-item(href="login.html")
                        i.ti-share
                        | Logout

          // End top bar
          // End logo
          .header-bottom.header-sticky.background-white.text-center
            .mobile_menu.d-lg-none.d-block
            .container
              .row
                .col-12
                  //  Main-menu 
                  .main-nav.text-center.d-none.d-lg-block
                    nav
                      ul#navigation.main-menu
                        li.menu-item-has-children
                          a(href="index.html") Filter
                          ul.sub-menu
                            li
                              a(href="index.html") All posts
                            li
                              a(href="home-2.html") My posts
        block content
