extends layouts/layout
block content
    .posts
      .home-featured.mb-50
        .container
          .row
            .col-12
              .featured-slider-1.border-radius-10
                .slider-single
                  .row.no-gutters
                    .col-lg-6.col-md-12.order-lg-1.order-2.align-center-vertical
                      .slider-caption
                        h2.post-title
                          a(href="#") Why Teamwork Really Makes The Dream Work
                        .entry-meta.meta-1.font-small.color-grey.mt-20.mb-20
                          span.post-on
                            i.ti-marker-alt
                            | 25 April 2020
                          span.time-reading
                            i.ti-timer
                            | 10 mins read
                          span.hit-count
                            i.ti-bolt
                            | 159k Views
                        p.excerpt.font-medium.mt-25.mb-25
                          | We live in a world where disruption and dynamism reign supreme and businesses must be ready to adapt to the many unpredictable changes that come with this
                          a(href="#")  Read more...
                        .entry-meta.meta-2
                          a.float-left.mr-10.author-img(href="author.html")
                            img(src="assets/imgs/news-1.jpg", alt)
                          a(href="author.html")
                            span.author-name Robert Fisk
                          br
                          span.author-add.color-grey Maidstone,Kent
                    .slider-img.col-lg-6.order-lg-2.order-1.col-md-12
                      .img-hover-scale
                        a(href="single.html")
                          img(src="assets/imgs/slide-1.jpg", alt="post-slider")
              .row
                .col-lg-6.col-md-12
                  .arrow-cover
